<h1> <q> <kbd> Hello World ! </kbd> </q> </h1>
<br>
<p>The <dfn title="World Health Organization">WHO</dfn> was founded in 1948.</p>
<head>

<style type="text/css">
body {background-color: #999999}
p {margin-left: 20px}
</style>
</head>

<p>
您也可以使用图像来作链接：
<a href="/example/html/lastpage.html">
<img border="0" src="https://ww1.sinaimg.cn/large/006y8lVagy1fc5fgm4oevj311h0c676a.jpg" />
</a>
</p>
